h1{
    color: burlywood;
    text-align: center;
}

img{
    height: 600px;
    width: auto;
    padding-left: 600px;
}

h3{
    font-style: italic;
    color: coral;
    text-align: center;
}

ul,
ol{
    font-family: 'Courier New', Courier, monospace;
}

p{
    font-size: 20px;
}